ingress:
  enabled: true
  rules:
  - host: "keycloak.{{ domain }}"
    paths: 
    - /
  tls:
  - hosts:
    - "keycloak.{{ domain }}"
    secretName: tls-cert
  servicePort: https
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/backend-protocol: HTTPS
extraEnv: |
  - name: KEYCLOAK_USER
    value: _admin
  - name: KEYCLOAK_PASSWORD_FILE
    value: /secrets/admin-password
extraVolumeMounts: |
  - name: admin-password
    mountPath: /secrets
extraVolumes: |
  - name: admin-password
    secret:
      secretName: admin-password
      items:
      - key: password
        path: admin-password